@import "reset";
@import "header";
@import "footer";
@import "mobile_nav";


// ---------------------------------------------- login --------------------------------------------------------------------
@import "responsive";
.main-login {
	height:100vh;
	width:100vw;
	background-image:url('../images/bg.svg');
	background-position: center;
	display:flex;
	justify-content: center;
	align-items:center;
	.login-box{
		max-width:516px;
		background:#fff;
		border-radius: 30px;
		height:max-content;
	}
}
// ------------------------------------------------------------------------ responsive --------------------------------------------------------------------------
.main{
	display: flex;
	flex-direction: column;
	height: 100%;
}
.main-home{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
	background-image: url(../images/bg.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	@media(min-width:768px){
		height:100vh;
	}
	.content{
		padding-left: 40px;
		margin-bottom:100px;
		@media(max-width:1200px){
			padding-left:30px;
		}
		.bor-content{
			.left-main{
				@media(max-width: 1023px){
					display: flex;
					align-items: center;
					justify-content: center;
				}
				.logo{}
				.company-name{
					color:#fff;
					//font-weight:bold;
					font-size:32px;
					text-transform: uppercase;
					@media(max-width: 1023px){
						font-size:27px;
						display: none;
					}
					@media(min-width: 1024px) and (max-width: 1400px){
						font-size:27px;
					}
				}
			}
			.right-main{
				.phone-social{
					display: flex;
					margin-bottom:30px;
				}
				.phone{
					background-image: url(../images/icon_phone.svg);
					background-repeat: no-repeat;
					background-position: left 10px center;
					display: flex;
					align-items: center;
					padding-left: 42px;
					background-color: #C1272D;
					border-radius: 5px;
					padding-right: 10px;
					a{
						color:#fff;
					}
				}
				.social{
					display: flex;
					align-items: center;
					margin-left:5px;
					.item{
						margin:0 3px;
					}
				}
				.sliders{
					.item{
						.thumb{
							position:relative;
							border: 15px solid rgba(0, 0, 0, 0.2);
							border-radius: 19px;

							&:before{
								content: '';
								position: absolute;
								background-image: linear-gradient(to bottom,rgba(0,0,0,0),rgba(0,0,0,0.43));
								top: 0;
								left: 0;
								height: 100%;
								width: 100%;
							}
							.img{

								img{
									border-radius: 0px;
								}
							}
							h4{
								color: #fff;
								text-transform: uppercase;
								position: absolute;
								bottom: 15px;
								left: 15px;
								font-size: 16px;
								line-height: 25px;
							}
						}

					}
					.owl-nav{
						opacity: 1;
						display: block;
						visibility: visible;
						button.owl-prev{
							top: unset;
							LEFT: 2px;
							bottom: -100px;
							@media(max-width:1200px){
								bottom:-75px;
							}
						}
						button.owl-next{
							top: unset;
							left: 60px;
							bottom: -100px;
							@media(max-width:1200px){
								bottom:-75px;
							}
						}
					}
				}
			}
		}
	}

	.menu{
		position: fixed;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 85px;
		padding: 5px 15px;
		background: #fff;
		display: flex;
		justify-content: space-between;
		right: 0;
		margin: 0;
		align-items: center;
		border: 1px solid #707070ab;
		box-shadow: 0 2px 5px 2px #332f2fe6;
		z-index:999;
		flex-wrap: nowrap;
		@media(max-width:1200px){
			height:60px;
		}
		.item{
			display: flex;
			flex-direction: column;
			align-items: center;
			@media(max-width:1200px){
				padding:8px;
			}
			a{
				&:hover{
					color:#278bb7;
				}
			}
			img{
				display: block;
				margin:auto;
				height:35px;
				width:35px;
			}
			span{
				text-align: center;
				white-space: nowrap;
				font-size: 16px;
				margin-top: 5px;
				display: block;
				@media(max-width:1200px){
					display: none;
				}
			}
		}
	}
}
