html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1.5;
  font-family: 'avo';
  overflow-x: hidden; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  max-width: 100%;
  height: auto; }

button {
  cursor: pointer;
  border: none;
  outline: none; }

a {
  color: black; }

a:hover {
  text-decoration: none; }

@font-face {
  font-family: 'Myriadpro';
  src: url("../fonts/font/MyriadPro_Regular.otf");
  font-weight: 400; }
@font-face {
  font-family: 'Myriadpro';
  src: url("../fonts/font/MYRIADPRO-BOLD.OTF");
  font-weight: bold; }
@font-face {
  font-family: 'Myriadpro';
  src: url("../fonts/font/MYRIADPRO-SEMIBOLD.OTF");
  font-weight: 800; }
@font-face {
  font-family: 'avo';
  src: url("../fonts/font/UTM Avo.ttf");
  font-weight: 400; }
@font-face {
  font-family: 'avo';
  src: url("../fonts/font/UTM AvoBold.ttf");
  font-weight: bold; }
.owl-carousel .item {
  margin-bottom: 10px; }
.owl-carousel.owl-theme .owl-nav [class*=owl-]:hover {
  background: unset; }
.owl-carousel.owl-theme .owl-dots .owl-dot {
  outline: none; }
  .owl-carousel.owl-theme .owl-dots .owl-dot.active span {
    background-color: #343A40; }
  .owl-carousel.owl-theme .owl-dots .owl-dot span {
    margin: 5px 5px;
    background: #FFFFFF; }
    .owl-carousel.owl-theme .owl-dots .owl-dot span:hover {
      background-color: #343A40; }
.owl-carousel:hover .owl-nav {
  opacity: 1;
  visibility: visible; }
.owl-carousel .owl-nav {
  opacity: 0;
  visibility: hidden;
  transition: .3s ease-in-out;
  margin-top: unset; }
  @media only screen and (max-width: 768px) {
    .owl-carousel .owl-nav {
      opacity: 1;
      visibility: visible; } }
  .owl-carousel .owl-nav button {
    background-color: none;
    border: none;
    outline: none;
    font-size: 50px;
    z-index: 4; }
    .owl-carousel .owl-nav button.owl-prev {
      position: absolute;
      top: 50%;
      left: -25px;
      font-size: 50px;
      transform: translateY(-50%); }
      @media only screen and (max-width: 768px) {
        .owl-carousel .owl-nav button.owl-prev {
          left: -20px; } }
    .owl-carousel .owl-nav button.owl-next {
      position: absolute;
      top: 50%;
      right: -25px;
      font-size: 50px;
      transform: translateY(-50%); }
      @media only screen and (max-width: 768px) {
        .owl-carousel .owl-nav button.owl-next {
          right: -20px; } }

html.hc-nav-yscroll {
  overflow-y: scroll; }

body.hc-nav-open {
  overflow: hidden;
  position: fixed;
  width: 100%;
  min-height: 100%; }

.hc-offcanvas-nav {
  visibility: hidden;
  display: none;
  position: fixed;
  top: 0;
  height: 100%;
  z-index: 9999; }

.hc-offcanvas-nav.is-ios * {
  cursor: pointer !important; }

.hc-offcanvas-nav .nav-container {
  position: fixed;
  z-index: 9998;
  top: 0;
  width: 280px;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  box-sizing: border-box;
  transition: transform .4s ease; }

.hc-offcanvas-nav .nav-wrapper {
  width: 100%;
  height: 100%;
  max-height: 100vh;
  overscroll-behavior: none;
  box-sizing: border-box; }

.hc-offcanvas-nav .nav-content {
  height: 100%;
  max-height: 100vh; }

.hc-offcanvas-nav .nav-wrapper-0 > .nav-content {
  overflow: scroll;
  overflow-x: visible;
  overflow-y: auto;
  box-sizing: border-box; }

.hc-offcanvas-nav ul {
  list-style: none;
  margin: 0;
  padding: 0; }

.hc-offcanvas-nav li {
  position: relative;
  display: block; }

.hc-offcanvas-nav li.level-open > .nav-wrapper {
  visibility: visible; }

.hc-offcanvas-nav input[type="checkbox"] {
  display: none; }

.hc-offcanvas-nav label {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  cursor: pointer; }

.hc-offcanvas-nav a {
  position: relative;
  display: block;
  box-sizing: border-box;
  cursor: pointer; }

.hc-offcanvas-nav a,
.hc-offcanvas-nav a:hover {
  text-decoration: none; }

.hc-offcanvas-nav.disable-body::after,
.hc-offcanvas-nav .nav-wrapper::after {
  content: '';
  position: fixed;
  z-index: 9990;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overscroll-behavior: none;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s ease .4s, opacity .4s ease; }

.hc-offcanvas-nav.disable-body.nav-open::after,
.hc-offcanvas-nav .sub-level-open::after {
  visibility: visible;
  opacity: 1;
  transition-delay: .05s; }

.hc-offcanvas-nav:not(.nav-open)::after {
  pointer-events: none; }

.hc-offcanvas-nav.nav-levels-expand .nav-content {
  overflow: scroll;
  overflow-x: visible;
  overflow-y: auto;
  box-sizing: border-box; }

.hc-offcanvas-nav.nav-levels-expand .nav-wrapper::after {
  display: none; }

.hc-offcanvas-nav.nav-levels-expand ul .nav-wrapper {
  min-width: 0;
  max-height: 0;
  overflow: hidden;
  transition: height 0s ease .4s; }

.hc-offcanvas-nav.nav-levels-expand .level-open > .nav-wrapper {
  max-height: none; }

.hc-offcanvas-nav.nav-levels-overlap .nav-content {
  overflow: scroll;
  overflow-x: visible;
  overflow-y: auto;
  box-sizing: border-box; }

.hc-offcanvas-nav.nav-levels-overlap ul .nav-wrapper {
  position: absolute;
  z-index: 9999;
  top: 0;
  height: 100%;
  visibility: hidden;
  transition: visibility 0s ease .4s, transform .4s ease; }

.hc-offcanvas-nav.nav-levels-overlap ul li.nav-parent {
  position: static; }

.hc-offcanvas-nav.nav-levels-overlap ul li.level-open > .nav-wrapper {
  visibility: visible;
  transform: translate3d(0, 0, 0);
  transition: transform .4s ease; }

.hc-offcanvas-nav.nav-position-left {
  left: 0; }

.hc-offcanvas-nav.nav-position-left .nav-container {
  left: 0;
  transform: translate3d(-280px, 0, 0); }

.hc-offcanvas-nav.nav-position-left.nav-levels-overlap li .nav-wrapper {
  left: 0;
  transform: translate3d(-100%, 0, 0); }

.hc-offcanvas-nav.nav-position-right {
  right: 0; }

.hc-offcanvas-nav.nav-position-right .nav-container {
  right: 0;
  transform: translate3d(280px, 0, 0); }

.hc-offcanvas-nav.nav-position-right.nav-levels-overlap li .nav-wrapper {
  right: 0;
  transform: translate3d(100%, 0, 0); }

.hc-offcanvas-nav.nav-position-top {
  top: 0; }

.hc-offcanvas-nav.nav-position-top .nav-container {
  top: 0;
  width: 100%;
  height: auto;
  transform: translate3d(0, -100%, 0); }

.hc-offcanvas-nav.nav-position-top.nav-levels-overlap li .nav-wrapper {
  left: 0;
  transform: translate3d(0, -100%, 0); }

.hc-offcanvas-nav.nav-position-bottom {
  top: auto;
  bottom: 0; }

.hc-offcanvas-nav.nav-position-bottom .nav-container {
  top: auto;
  bottom: 0;
  width: 100%;
  height: auto;
  transform: translate3d(0, 100%, 0); }

.hc-offcanvas-nav.nav-position-bottom.nav-levels-overlap li .nav-wrapper {
  left: 0;
  transform: translate3d(0, 100%, 0); }

.hc-offcanvas-nav.nav-open[class*='hc-nav-'] div.nav-container {
  transform: translate3d(0, 0, 0); }

.hc-nav-trigger {
  position: absolute;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: block;
  top: 30px;
  left: 10px;
  z-index: 99;
  width: 30px;
  min-height: 24px; }

.hc-nav-trigger span {
  width: 30px;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  transform-origin: 50% 50%; }

.hc-nav-trigger span,
.hc-nav-trigger span::before,
.hc-nav-trigger span::after {
  display: block;
  position: absolute;
  left: 0;
  height: 4px;
  background: #34495E;
  transition: all .2s ease; }

.hc-nav-trigger span::before,
.hc-nav-trigger span::after {
  content: '';
  width: 100%; }

.hc-nav-trigger span::before {
  top: -10px; }

.hc-nav-trigger span::after {
  bottom: -10px; }

.hc-nav-trigger.toggle-open span {
  background: rgba(0, 0, 0, 0);
  transform: rotate(45deg); }

.hc-nav-trigger.toggle-open span::before {
  transform: translate3d(0, 10px, 0); }

.hc-nav-trigger.toggle-open span::after {
  transform: rotate(-90deg) translate3d(10px, 0, 0); }

.hc-offcanvas-nav::after,
.hc-offcanvas-nav .nav-wrapper::after {
  background: rgba(0, 0, 0, 0.3); }

.hc-offcanvas-nav .nav-container,
.hc-offcanvas-nav .nav-wrapper,
.hc-offcanvas-nav ul {
  background: #336ca6; }

.hc-offcanvas-nav h2 {
  font-size: 19px;
  font-weight: normal;
  text-align: left;
  padding: 20px 17px;
  color: #1b3958; }

.hc-offcanvas-nav a {
  padding: 14px 17px;
  font-size: 15px;
  color: #333;
  z-index: 1;
  background: rgba(0, 0, 0, 0);
  border-bottom: 1px solid #2c5d8f; }

.hc-offcanvas-nav:not(.touch-device) a:hover {
  background: #31679e; }

.hc-offcanvas-nav ul:first-of-type:not(:first-child) > li:first-child:not(.nav-back):not(.nav-close) > a {
  border-top: 1px solid #2c5d8f;
  margin-top: -1px; }

.hc-offcanvas-nav li {
  text-align: left; }

.hc-offcanvas-nav li.nav-close a,
.hc-offcanvas-nav li.nav-back a {
  background: #2c5d8f;
  border-top: 1px solid #295887;
  border-bottom: 1px solid #295887; }

.hc-offcanvas-nav li.nav-close a:hover,
.hc-offcanvas-nav li.nav-back a:hover {
  background: #2b5c8d; }

.hc-offcanvas-nav li.nav-parent a {
  padding-right: 58px; }

.hc-offcanvas-nav li.nav-close span,
.hc-offcanvas-nav li.nav-parent span.nav-next,
.hc-offcanvas-nav li.nav-back span {
  width: 45px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  cursor: pointer;
  transition: background .2s ease; }

.hc-offcanvas-nav li.nav-close span::before,
.hc-offcanvas-nav li.nav-close span::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 6px;
  height: 6px;
  margin-top: -3px;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff; }

.hc-offcanvas-nav li.nav-close span::before {
  margin-left: -9px;
  transform: rotate(135deg); }

.hc-offcanvas-nav li.nav-close span::after {
  transform: rotate(-45deg); }

.hc-offcanvas-nav a[href]:not([href="#"]) > span.nav-next {
  border-left: 1px solid #2c5d8f; }

.hc-offcanvas-nav span.nav-next::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 8px;
  height: 8px;
  margin-left: -2px;
  box-sizing: border-box;
  border-top: 2px solid #333;
  border-left: 2px solid #333;
  transform-origin: center; }

.hc-offcanvas-nav li.nav-back span::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 8px;
  height: 8px;
  margin-left: -2px;
  box-sizing: border-box;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  transform-origin: center; }

.hc-offcanvas-nav span.nav-next::before {
  transform: translate(-50%, -50%) rotate(135deg); }

.hc-offcanvas-nav li.nav-back span::before {
  transform: translate(-50%, -50%) rotate(-45deg); }

.hc-offcanvas-nav.nav-position-left.nav-open .nav-wrapper {
  box-shadow: 1px 0 2px rgba(0, 0, 0, 0.2); }

.hc-offcanvas-nav.nav-position-right.nav-open .nav-wrapper {
  box-shadow: -1px 0 2px rgba(0, 0, 0, 0.2); }

.hc-offcanvas-nav.nav-position-right span.nav-next::before {
  margin-left: 0;
  margin-right: -2px;
  transform: translate(-50%, -50%) rotate(-45deg); }

.hc-offcanvas-nav.nav-position-right li.nav-back span::before {
  margin-left: 0;
  margin-right: -2px;
  transform: translate(-50%, -50%) rotate(135deg); }

.hc-offcanvas-nav.nav-position-top.nav-open .nav-wrapper {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); }

.hc-offcanvas-nav.nav-position-top span.nav-next::before {
  margin-left: 0;
  margin-right: -2px;
  transform: translate(-50%, -50%) rotate(-135deg); }

.hc-offcanvas-nav.nav-position-top li.nav-back span::before {
  margin-left: 0;
  margin-right: -2px;
  transform: translate(-50%, -50%) rotate(45deg); }

.hc-offcanvas-nav.nav-position-bottom.nav-open .nav-wrapper {
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2); }

.hc-offcanvas-nav.nav-position-bottom span.nav-next::before {
  margin-left: 0;
  margin-right: -2px;
  transform: translate(-50%, -50%) rotate(45deg); }

.hc-offcanvas-nav.nav-position-bottom li.nav-back span::before {
  margin-left: 0;
  margin-right: -2px;
  transform: translate(-50%, -50%) rotate(-135deg); }

.hc-offcanvas-nav.nav-levels-expand .nav-container ul .nav-wrapper,
.hc-offcanvas-nav.nav-levels-none .nav-container ul .nav-wrapper {
  box-shadow: none;
  background: transparent; }

.hc-offcanvas-nav.nav-levels-expand .nav-container ul h2,
.hc-offcanvas-nav.nav-levels-none .nav-container ul h2 {
  display: none; }

.hc-offcanvas-nav.nav-levels-expand .nav-container ul ul a,
.hc-offcanvas-nav.nav-levels-none .nav-container ul ul a {
  font-size: 14px; }

.hc-offcanvas-nav.nav-levels-expand .nav-container li,
.hc-offcanvas-nav.nav-levels-none .nav-container li {
  transition: background .3s ease; }

.hc-offcanvas-nav.nav-levels-expand .nav-container li.level-open,
.hc-offcanvas-nav.nav-levels-none .nav-container li.level-open {
  background: #2e6296; }

.hc-offcanvas-nav.nav-levels-expand .nav-container li.level-open a,
.hc-offcanvas-nav.nav-levels-none .nav-container li.level-open a {
  border-bottom: 1px solid #295887; }

.hc-offcanvas-nav .nav-container, .hc-offcanvas-nav .nav-wrapper, .hc-offcanvas-nav ul {
  background: #fff; }

.hc-offcanvas-nav li.nav-close a, .hc-offcanvas-nav li.nav-back a {
  background: #333;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  text-transform: uppercase;
  font-weight: bold; }

.hc-offcanvas-nav a {
  border-bottom: 1px solid #fff;
  font-size: 13px;
  text-transform: uppercase; }

.hc-offcanvas-nav h2 {
  font-weight: bold;
  color: #fff;
  font-size: 15px; }

.hc-offcanvas-nav li.nav-close span::before, .hc-offcanvas-nav li.nav-close span::after {
  border-left: 0;
  width: 25px;
  height: 15px; }

.hc-offcanvas-nav li.nav-close span::before {
  margin-left: -10px;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  margin-top: -13px; }

.hc-offcanvas-nav li.nav-close span::after {
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
  margin-top: -13px;
  margin-left: -1px; }

.nav-close a {
  padding: 25px 15px; }

.hc-offcanvas-nav h2 {
  text-transform: uppercase; }

.hc-offcanvas-nav li a {
  user-select: none;
  display: flex;
  align-items: center;
  position: relative; }
  .hc-offcanvas-nav li a img {
    max-width: 22px;
    height: 22px;
    object-fit: contain; }
  .hc-offcanvas-nav li a span {
    line-height: 1;
    padding-left: 6.5px;
    padding-top: 4px;
    display: block;
    white-space: nowrap;
    width: 78%;
    overflow: hidden;
    text-overflow: ellipsis; }

@media only screen and (max-width: 1200px) {
  .nav-bar {
    flex: 0 0 30%; }

  .main-content {
    flex: 0 0 70%;
    overflow: hidden; } }
@media only screen and (max-width: 886px) {
  .nav-bar {
    flex: 0 0 35%; }

  .main-content {
    flex: 0 0 65%;
    overflow: hidden; } }
@media only screen and (max-width: 700px) {
  .nav-bar .moblie-bar {
    display: block; }
    .nav-bar .moblie-bar button {
      border: none;
      outline: none;
      background: #F0EFEF;
      color: #268FCE;
      display: flex;
      align-items: center;
      justify-content: center; }
  .nav-bar .logo {
    max-width: 120px;
    margin: auto; } }
@media only screen and (max-width: 576px) {
  .regis-box {
    padding-left: 0px;
    padding-right: 0px; }

  .nav-bar {
    flex: 0 0 100%; }

  .main-content {
    flex: 0 0 100%;
    overflow: hidden; }

  .main-nav {
    display: none; }

  .form-st .search-form {
    width: 100%; }
  .form-st .action {
    width: 100%; } }
@media only screen and (max-width: 350px) {
  .regis-box .info-login {
    margin-left: 8px; } }
.main-login {
  height: 100vh;
  width: 100vw;
  background-image: url("../images/bg.svg");
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center; }
  .main-login .login-box {
    max-width: 516px;
    background: #fff;
    border-radius: 30px;
    height: max-content; }

.main {
  display: flex;
  flex-direction: column;
  height: 100%; }

.main-home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-image: url(../images/bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  @media (min-width: 768px) {
    .main-home {
      height: 100vh; } }
  .main-home .content {
    padding-left: 40px;
    margin-bottom: 100px; }
    @media (max-width: 1200px) {
      .main-home .content {
        padding-left: 30px; } }
    @media (max-width: 1023px) {
      .main-home .content .bor-content .left-main {
        display: flex;
        align-items: center;
        justify-content: center; } }
    .main-home .content .bor-content .left-main .company-name {
      color: #fff;
      font-size: 32px;
      text-transform: uppercase; }
      @media (max-width: 1023px) {
        .main-home .content .bor-content .left-main .company-name {
          font-size: 27px;
          display: none; } }
      @media (min-width: 1024px) and (max-width: 1400px) {
        .main-home .content .bor-content .left-main .company-name {
          font-size: 27px; } }
    .main-home .content .bor-content .right-main .phone-social {
      display: flex;
      margin-bottom: 30px; }
    .main-home .content .bor-content .right-main .phone {
      background-image: url(../images/icon_phone.svg);
      background-repeat: no-repeat;
      background-position: left 10px center;
      display: flex;
      align-items: center;
      padding-left: 42px;
      background-color: #C1272D;
      border-radius: 5px;
      padding-right: 10px; }
      .main-home .content .bor-content .right-main .phone a {
        color: #fff; }
    .main-home .content .bor-content .right-main .social {
      display: flex;
      align-items: center;
      margin-left: 5px; }
      .main-home .content .bor-content .right-main .social .item {
        margin: 0 3px; }
    .main-home .content .bor-content .right-main .sliders .item .thumb {
      position: relative;
      border: 15px solid rgba(0, 0, 0, 0.2);
      border-radius: 19px; }
      .main-home .content .bor-content .right-main .sliders .item .thumb:before {
        content: '';
        position: absolute;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.43));
        top: 0;
        left: 0;
        height: 100%;
        width: 100%; }
      .main-home .content .bor-content .right-main .sliders .item .thumb .img img {
        border-radius: 0px; }
      .main-home .content .bor-content .right-main .sliders .item .thumb h4 {
        color: #fff;
        text-transform: uppercase;
        position: absolute;
        bottom: 15px;
        left: 15px;
        font-size: 16px;
        line-height: 25px; }
    .main-home .content .bor-content .right-main .sliders .owl-nav {
      opacity: 1;
      display: block;
      visibility: visible; }
      .main-home .content .bor-content .right-main .sliders .owl-nav button.owl-prev {
        top: unset;
        LEFT: 2px;
        bottom: -100px; }
        @media (max-width: 1200px) {
          .main-home .content .bor-content .right-main .sliders .owl-nav button.owl-prev {
            bottom: -75px; } }
      .main-home .content .bor-content .right-main .sliders .owl-nav button.owl-next {
        top: unset;
        left: 60px;
        bottom: -100px; }
        @media (max-width: 1200px) {
          .main-home .content .bor-content .right-main .sliders .owl-nav button.owl-next {
            bottom: -75px; } }
  .main-home .menu {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 85px;
    padding: 5px 15px;
    background: #fff;
    display: flex;
    justify-content: space-between;
    right: 0;
    margin: 0;
    align-items: center;
    border: 1px solid #707070ab;
    box-shadow: 0 2px 5px 2px #332f2fe6;
    z-index: 999;
    flex-wrap: nowrap; }
    @media (max-width: 1200px) {
      .main-home .menu {
        height: 60px; } }
    .main-home .menu .item {
      display: flex;
      flex-direction: column;
      align-items: center; }
      @media (max-width: 1200px) {
        .main-home .menu .item {
          padding: 8px; } }
      .main-home .menu .item a:hover {
        color: #278bb7; }
      .main-home .menu .item img {
        display: block;
        margin: auto;
        height: 35px;
        width: 35px; }
      .main-home .menu .item span {
        text-align: center;
        white-space: nowrap;
        font-size: 16px;
        margin-top: 5px;
        display: block; }
        @media (max-width: 1200px) {
          .main-home .menu .item span {
            display: none; } }

/*# sourceMappingURL=style.css.map */
